<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>UZ CLINIC - Login</title>
</head>
<body>
  <div class="wrapper">
    <div class="container main">
        <div class="row">
            <div class="col-md-6 side-image">
                <img src="{{ url_for('static', filename='white.png') }}" alt="">
            </div>

            <div class="col-md-6 right">
                <div class="input-box">
                   <header> UZ Clinic Log In</header>
                   <form action="/login" method="POST">
                       <div class="input-field">
                           <input type="text" class="input" id="email" name="email" required autocomplete="off">
                           <label for="email">Email</label> 
                       </div> 
                       <div class="input-field">
                           <input type="password" class="input" id="pass" name="password" required>
                           <label for="pass">Password</label>
                       </div>
                       <div class="input-field">
                           <input type="submit" class="submit" value="Log In">
                       </div>
                   </form>
                   <div class="signin">
                       <span>Don't have an account? <a href="/signup">Sign up here</a></span>
                   </div>
                   {% with messages = get_flashed_messages() %}
                     {% if messages %}
                       <div class="alert alert-info mt-3">
                         {% for message in messages %}
                           <p>{{ message }}</p>
                         {% endfor %}
                       </div>
                     {% endif %}
                   {% endwith %}
                </div>  
            </div>
        </div>
    </div>
</div>
</body>
</html>
